// main: ./main.less

.textStyle () {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: @textColor;
    font-size: @textSize;
    line-height: 1.4;
}
.titleStyle () {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    color: @titleColor;
    font-size: @titleSize;
    line-height: 1.2;
}
.miniText () {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: @titleColor;
    line-height: 1.8;
}
