// out: ../css/main.min.css, compress: true, sourceMap: true
@import "./_vars.less";
@import "./_mixins.less";
@import "./_fonts.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul {
    margin: 0;
    list-style: none;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    background-color: #ededee;
}

@import "./blocks/_btn.less";
@import "./blocks/_text.less";
@import "./blocks/_title.less";
@import "./blocks/_header.less";
@import "./blocks/_header-menu.less";
@import "./blocks/_burger-menu.less";
@import "./blocks/_feature.less";
@import "./blocks/_phone-feature.less";
@import "./blocks/_map-feature.less";
@import "./blocks/_phone-screens.less";
@import "./blocks/_app.less";
@import "./blocks/_customers.less";
@import "./blocks/_plan.less";
@import "./blocks/_footer.less";
@import "./blocks/_customers-slider-image.less";
@import "./blocks/_customers-slider.less";

