// main: ./../main.less

.btn {
    height: @btnHeight;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    border-radius: @borderRadiusbtn;
    
    &--blue {
    width: 132px;
    border-radius: @borderRadiusbtn;
    background-color: @blueBtn;
    // padding: 8px 24px 13px 17px;
    }
    &--black {

    }
    &--border-blue {

    }

}