// main: ./../main.less
.customers-slider-img {
    max-width: 1080px;
    &__avatar {
        border-radius: 50%;
        background-color: black;
        width: 130px;
        height: 130px;
    }
}


.customers-slider-img__wrapper .swiper-slide-active {
    transform: scale(1);
    opacity: 100%;
    transition: all 0.5s;
}

.customers-slider-img__wrapper .swiper-slide-prev, .swiper-slide-next  {
    opacity: 30%;
    transform: scale(0.7);
    transition: all 0.5s;
}
.customers-slider-img__item {
    display: flex;
    justify-content: center;
    margin-right: 0;
    padding-bottom: 75px;
}
.swiper-button-next::after, .swiper-button-prev::after {
    color: rgba(38, 41, 44, 0.2);
}
.swiper-slide-active > .customers-slider-img__avatar {
    box-shadow: 13.7px 37.6px 40px 0 rgba(92, 95, 101, 0.28);
}

.customers .swiper-button-next {
    top: 35%;
}
.customers .swiper-button-prev {
    top: 35%;
}