// main: ./../main.less

.header {
    background-image: url(../../assets/images/header-bg.png);
    background-size: cover;
    background-color: #ffffff;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    &__btn {
        padding: 10px 24px 13px 40px;
        margin-right: 215px;
        word-spacing: 5px;
        position: relative;
        &::after {
            content: '';
            display: inline-block;
            background-image: url(../../assets/images/app-logo-apple.png);
            background-color: transparent ;
            width: 19px;
            height: 21px;
            position: absolute;
            left: 11%;
            top: 21%;
            background-size: cover;
        }
    }
    &__logo {
        align-self: center;
        align-items: center;
        justify-content: center;
    }
}
.header-left {
    display: flex;
    align-items: center;
    &__menu-item {
        margin-right: 42px;
        &:first-child {
            margin-left: 30px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    &__menu-item {
        margin-right: 30px;
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 115px;
    &__title {
        font-size: 6.2em;
        margin-bottom: 40px;
    }
    &__text {
        max-width: 785px;
        text-align: center;
        margin-bottom: 60px;
    }
    &__btn {
        width: 205px;
        height: 50px;
        border-radius: 25px;
        border: @darkBorderBtn;
        color: @titleColor;
        margin-bottom: 55px;
        position: relative;
        padding-left: 20px;
        &::after {
            content: '';
            display: inline-block;
            background-image:url(../../assets/images/header-play-btn.png);
            background-color: transparent;
            width: 10px;
            height: 11px;
            position: absolute;
            left: 17%;
            top: 38%;
            background-size: cover;
        }
    }
    &__img-phone {
    }
}
