// main: ./../main.less
.plan {
    background-color: #f4f4f5;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.plan-about {
    margin-right: 150px;
    &__title {
        width: 255px;
        margin-bottom: 100px;
    }
    &__mini-text {
        .miniText ();
        margin-bottom: 20px;
    }
    &__text {
        width: 355px;
        margin-top: 80px;
        margin-bottom: 45px;
    }
    &__text-link {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: @textColor;
        font-size: 1.4em;
    }
    &__link {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: @blueBtn;
    }
    &__button {
        
    }
}
.plan-pack {
    display: flex;
}
.pack-start {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 50%;
    padding: 65px 65px 65px 65px;
    &__title {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 3.2em;
        color: @titleColor;
        margin-bottom: 110px;
    }
    &__text {
        text-align: center;
        margin-bottom: 45px;
    }
    &__plus {
        margin-bottom: 100px;
    }
    &__item {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.6em;
        color: #26292c;
        list-style-image: url(../../assets/images/plan-green--on.png);
        &:first-child {
            margin-bottom: 30px;
        }
    }
}
.pack-pro {
    background-color: #ebebed;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 50%;
    padding: 65px 65px;
    transform: scale(0.9);
    &__title {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 3.2em;
        color: @titleColor;
        margin-bottom: 110px;
    }
    &__text {
        text-align: center;
        max-width: 125px;
        margin-bottom: 45px;
    }
    &__plus {
        margin-bottom: 100px;
    }
    &__item {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.6em;
        color: #26292c;
        list-style-image: url(../../assets/images/plan-green--on.png);
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.plan-button {
    width: 258px;
    height: 50px;
    border: @darkBorderBtn;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.plan-about__btn1 {
    width: 124px;
    height: @btnHeight;
    border-radius: 21px;
    background-color: white;
    font-family: 'Lato';
    font-weight: 400;
    color: #26292c;
    font-size: 16px;
    box-shadow: 1.7px 4.7px 20px 0 rgba(61, 61, 62, 0.15), 10.3px 28.2px 50px 0 rgba(92, 95, 101, 0.28);
}
.plan-about__btn2 {
    width: 124px;
    height: @btnHeight;
    font-family: 'Lato';
    font-weight: 400;
    color: rgba(38, 41, 44, 0.4);
    border-radius: 21px;
    background-color: transparent;
    font-size: 16px;
}





.buton{
    border: 3px solid #1a1a1a;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
    display: none;
    & + label{
        cursor: pointer;
        min-width: 60px;
        &:hover{
            background: none;
            color: #1a1a1a;
        }
        &:after{
            background: #1a1a1a;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }
    }
    &.toggle-left + label {
        border-right: 0;
        &:after{
            left: 100%
        }
    }
    &.toggle-right + label{
        margin-left: -5px;
        &:after{
            left: -100%;
        }
    }
    &:checked + label {
        cursor: default;
        color: #fff;
        transition: color 200ms;
        &:after{
            left: 0;
        }
    }
}
